/* REPONSIVE */
@media(max-width: 1024px) {
    header {
        display: none;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav .navbar {
        display: block;
        margin: 0 30px 0 auto;
    }

    nav .navbar i {
        font-size: 1.5em;
        line-height: 40px;
    }

    nav .active {
        position: absolute;
        display: block !important;
        background-color: #333;
        top: 40px;
        left: 0;
        width: 100%;
    }

    nav .container {
        flex: 1;
    }

    nav .active>ul {
        flex-direction: column !important;
        padding-left: 0;
        margin: 0 0;
        transition: 2s;
    }

    nav .active>ul>li {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #fff;
    }

    nav .active>ul>li:hover {
        background-color: #43b6c1;
    }

    nav .active>ul>li>a {
        color: #fff;
        text-decoration: none;
    }

    nav .active>ul>li>a:hover {
        text-decoration: underline;
    }


    #nav-logo {
        display: inline-block !important;
        line-height: 40px;
        font-weight: bold;
        margin-left: 20px;
        font-size: 22px;
    }

    /* top-banner */
    #top-banner .top-banner-content h1 {
        padding: 0 20px;
        text-align: center;
    }

    #menu-portfolio {
        margin-left: 7%;
        margin-right: 7%;
        justify-content: space-around;
        padding-right: 20px;
        padding-left: 20px;
    }

    #menu-portfolio .portfolio-item {
        margin-bottom: 35px;
        text-align: center;
        width: 100%;
    }

    #menu-portfolio .portfolio-item img {
        width: 100%;
    }

    /* portfolio-news */
    #portfolio-news .portnews-item {
        padding: 0;
        margin-bottom: 35px;
    }

    #menu-portfolio .portfolio-item p {
        padding: 1em;
    }

    #portfolio-news .portnews-item:first-child {
        padding-right: 0;
    }

    #portfolio-news .portnews-item:last-child {
        padding-left: 0;
    }


    /* bottom-banner */
    #bottom-banner>.container {
        justify-content: center;
    }

    /* topic */
    #topic {
        flex-direction: column;
        height: fit-content;
    }

    #topic article {
        margin: 0 5%;
        padding: 0;
        margin-top: 25px;
    }

    #topic article .footer-topic {
        height: fit-content;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #topic article .nav-topic span {
        padding: 5px 8px;
    }

    /* bottom-banner */
    #bottom-banner>.container article {
        text-align: center;
        padding: 0;
    }

    /* pages */
    #pages {
        flex-wrap: wrap;
    }
    
    #pages .page{
        max-width: 50%;
    }

    #pages .page:last-child{
        display: none;
    }

    #pages .page .content-page p {
        margin-left: 10%;
        margin-right: 10%
    }

    .shop-slides.slick-initialized.slick-slider {
        width: 80%;
    }

    /* slide */
    .sub-slide {
        text-align: center;
    }


    /* footer */
    footer {
        flex-direction: column;
        height: fit-content;
    }

    footer .elements {
        width: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }

    footer .footer-figures .figure-item {
        margin-right: 0;
        max-width: 500px;
    }

    footer .footer-figures .figure-item .figure-item-content {
        margin-right: 25px;
    }

    footer .footer-figures .figure-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    footer .footer-figures .figure-item .figure-item-content {
        text-align: center;
        margin-top: 15px;
    }

    footer .footer-figures .figure-item .figure-item-btn {
        display: none;
    }
}

@media(max-width: 767px) {
    #bottom-banner {
        height: 650px;
    }

    #portfolio-news .portnews-item .bg-img {
        width: 90%;
    }

    #topic article .nav-topic {
        flex-direction: column;
    }

    #topic article .nav-topic>span {
        margin-bottom: 10px;
        text-align: center;
    }

    #portfolio-news .portnews-item h3 {
        text-align: center;
    }

    #portfolio-news .portnews-item p.portnews-item-content {
        padding: 0 15px;
    }

    #pages .page {
        max-width: 100%;
    }

    #pages .page{
        flex-basis: 100%;
    }

    #shop .header-shop h2 {
        text-align: center;
    }
}