* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wapper {
  background-color: #f8f8f8;
}

.container {
  max-width: 1170px;
  margin: auto;
}

#myBtn:hover {
  background-color: #179bff;
}

#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  background-color: #d8d7d7;
  color: #fff;
  outline: none;
  padding: 15px;
  border-radius: 50%;
  font-weight: bold;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 375px;
}

header .top-header {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .top-header h1 span {
  color: #179bff;
}

header .top-header .header-icons {
  margin-top: 50px;
}

header .top-header .header-icons i {
  padding: 0 7px;
}

nav {
  height: 40px;
  position: sticky;
  top: -1px;
  background-color: #f8f8f8;
  z-index: 99;
}

nav .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  padding: 10px 20px;
  line-height: 40px;
  text-transform: uppercase;
  color: #272727;
  font-weight: bold;
}

nav ul li a:hover {
  color: #179bff;
}

nav .navbar {
  display: none;
}

#nav-logo{
  display: none;
}

#nav-logo span{
  color: #179bff;
}



/* TOP BANNER */
#top-banner {
  height: 519px;
  width: 100%;
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-banner .top-banner-content {
  color: #fff;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-banner .top-banner-content .btn-learn {
  margin-top: 70px;
  padding: 20px 30px;
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

#top-banner .top-banner-content .btn-learn:hover {
  color: black;
  background-color: #179bff;
  transition: .7s;
  transition-property: background-color;
  font-weight: bold;
  color: #fff;
}

#top-banner .fade {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .5;
  z-index: 1;
}

/* HEADER PORTFOLIO */
#header-portfolio {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header-portfolio h3 {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  font-weight: bold;
}

#header-portfolio i {
  margin-top: 20px;
  font-size: 14px;
  color: #b8b8b8;
}

/* MENU PORTFOLIO */
#menu-portfolio {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
}

#menu-portfolio .portfolio-item {
  width: 370px;
  margin-bottom: 20px;
}

#menu-portfolio .portfolio-item h4 {
  margin-top: 30px;
  text-transform: uppercase;
}

#menu-portfolio .portfolio-item p {
  margin-top: 20px;
  padding-right: 1rem;
  font-size: 13px;
  color: #b8b8b8;
}

/* TOPIC */
#topic {
  display: flex;
  flex-direction: row;
  height: 730px;
  margin-top: 100px;
}

#topic .slides {
  flex: 1;
  position: relative;
}

.fade-content {
  animation-name: fade_content;
  animation-duration: 1.5s;
}

@keyframes fade_content {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#bg-one {
  background-image: url('../images/main_article.jpg');
}

#bg-two {
  background-image: url('../images/main_article.jpg');
}

#bg-three {
  background-image: url('../images/main_article.jpg');
}

#topic .slides .dots {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#topic .slides .dot {
  height: 1em;
  width: 1em;
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 50%;
  background-color: #fff;
}

#topic .slides .dot.active {
  background-color: transparent !important;
}

#topic .slides .slide-img {
  width: 100%;
  height: 730px;
  background-position: center;
  background-size: cover;
}

#topic .slides #bg-one {
  background-image: url('../images/main_article.jpg');
}

#topic .slides .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#topic .slides .numberText {
  position: absolute;
  top: 0;
  left: 0;
  color: #333;
  padding: 20px;
}


#topic article {
  flex: 1;
  padding-left: 30px;
}

#topic article h3 {
  font-size: 18px;
  letter-spacing: 3px;
  color: #272727;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#topic article .article-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

#topic article .icon-left {
  display: grid;
  grid-template-columns: 3px 3px;
  grid-template-rows: 3px 3px;
  grid-gap: 8px;
}

#topic article .icon-left span {
  width: 1px;
  height: 1px;
  display: inline-block;
  padding: 3px;
  background-color: #e1e1e1;
}

#topic article .icon-left span.active {
  background-color: #179bff;
}

#topic article .nav-topic {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
}

#topic article .nav-topic span {
  background-color: red;
  margin-right: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  background-color: #eeeeee;
  text-transform: uppercase;
  font-weight: bold;
  color: #5e5e5e;
  cursor: pointer;
}

#topic article .nav-topic span:hover {
  color: black;
}

#topic article .nav-topic span.active {
  background-color: #179bff;
  color: #fff;
}

#topic article .body-topic {
  margin-bottom: 95px;
}

#topic article .body-topic p {
  margin-bottom: 30px;
  color: #b8b8b8;
  font-size: 13px;
}

#topic article .footer-topic {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

#topic article .footer-topic h4 {
  padding: 10px;
  text-transform: uppercase
}

#topic article .footer-topic p {
  padding: 12px;
  text-transform: uppercase;
  color: #b8b8b8;
  font-weight: 550;
}

#topic article a {
  text-decoration: none;
}

#topic article .btn-view-project {
  margin-top: 95px;
  height: 50px;
  width: 100%;
  background-color: #179bff;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* POSRTFOLIO NEW */
#portfolio-news {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#portfolio-news .portnews-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

#portfolio-news .portnews-item:first-child {
  padding-right: 30px;
}

#portfolio-news .portnews-item:last-child {
  padding-left: 30px;
}

#portfolio-news .portnews-item .bg-img {
  width: 370px;
  height: 340px;
  position: relative;
  background-position: center;
  background-size: cover;
}

#portfolio-news .portnews-item .portnews-img-one {
  background-image: url('../images/article4.jpg')
}

#portfolio-news .portnews-item .portnews-img-two {
  background-image: url('../images/article5.jpg')
}

#portfolio-news .portnews-item .portnews-img-three {
  background-image: url('../images/article6.jpg')
}

#portfolio-news .portnews-item .bg-img .zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 65px;
  width: 65px;
  background-color: #fff;
  opacity: .7;
}

#portfolio-news .portnews-item .bg-img .zoom:hover {
  opacity: 1;
}

#portfolio-news .portnews-item .bg-img .zoom:hover i {
  color: #272727;
  z-index: 2;
  font-weight: bold;
}

#portfolio-news .portnews-item .bg-img .zoom i {
  line-height: 65px;
  text-align: center;
  display: inline-block;
  width: 100%;
  color: #5e5e5e;
}

#portfolio-news .portnews-item .bg-img .pen {
  position: absolute;
  top: 0;
  right: 0;
  padding: 17px 24px;
  background-color: #179bff;
}

#portfolio-news .portnews-item .bg-img .pen {
  color: #fff;
}

#portfolio-news .portnews-item .bg-img .pen:hover i {
  font-weight: bold;
  color: #272727;
  font-size: 1.5em;
}

#portfolio-news .portnews-item h3 {
  margin-top: 30px;
  margin-bottom: 25px;
}

#portfolio-news .portnews-item .underline {
  background-color: #ebebeb;
  height: 4px;
  width: 60px;
}

#portfolio-news .portnews-item p.portnews-item-title {
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #179bff;
  letter-spacing: 1px;
}

#portfolio-news .portnews-item p.portnews-item-content {
  margin-top: 30px;
  text-align: center;
  color: #5e5e5e;
}

/* BOTTOM BANNER */
#bottom-banner {
  margin-top: 55px;
  height: 590px;
  background-image: url('../images/banner2.jpg');
  background-size: cover;
  background-position: center;
}

#bottom-banner>.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
}

#bottom-banner>.container article {
  width: 500px;
  height: fit-content;
}

#bottom-banner .container article h1 {
  margin-bottom: 40px;
  font-size: 50px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-weight: normal;
}

#bottom-banner .container article h1 span {
  font-weight: bold;
}

#bottom-banner .container article em {
  margin-bottom: 50px;
  display: inline-block;
  font-size: 14px;
  color: #5e5e5e;
  font-style: normal;
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

#bottom-banner .container article p {
  margin-bottom: 80px;
  display: inline-block;
  color: #272727;
}

/*   
  #bottom-banner .container article .bottom-banner-btn:hover {
    font-weight: bold;
  } */
#bottom-banner .container article .bottom-banner-btn {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  padding: 20px 50px;
  background-color: #179bff;
  border-radius: 5px;
}

/* PAGES */
#pages {
  display: flex;
  flex-direction: row;
  height: fit-content;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pages .page {
  height: fit-content;
  position: relative;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  max-width: 20%;
  min-width: 370px;
  flex-basis: 50%;
}
#pages .page > img{
  width: 100%;
  min-width: 370px;
}

#pages .page:hover .fade-page {
  display: block;
}

#pages .page .fade-page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  opacity: .7;
  transition: 1s;
}

#pages .page:hover .content-page {
  opacity: 1;
}

#pages .page .content-page {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  transition: 2s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 50%;
  transform: translateY(-50%);
}

#pages .page .content-page h3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  margin-bottom: 35px;
}

#pages .page .content-page .page-icons {
  margin-block-end: 35px;
}

#pages .page .content-page .page-icons i {
  display: inline-block;
  margin: 0 5px;
  height: 30px;
  width: 30px;
  text-align: center;
  background-color: #fff;
  line-height: 30px;
  border-radius: 50%;
}

#pages .page .content-page .page-icons i:hover {
  background-color: #179bff;
  color: #fff;
}

#pages .page .content-page p {
  padding: 0 20px;
  color: #b8b8b8;
  text-align: center;
}

#pages .page .content-page em {
  margin-top: 50px;
  color: #fff;
}

/* SHOP */
#shop {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#shop .header-shop h2 {
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase
}

#shop .header-shop i {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: bold;
  color: #b8b8b8;
  display: block;
  letter-spacing: 2px;
}

#shop .shop-slides {
  margin-top: 65px;
  display: flex;
  flex-direction: row;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: row;
  height: 400px;
  background-color: #272727;
  width: 100%;
  color: #fff;
}

footer .elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
  width: 840px;
}

footer .elements .element-item {
  margin: 20px;
}

footer .elements .element-item h3,
footer .elements .element-item p {
  padding: 15px 10px;
  text-align: left;
}


footer .elements .element-item h3 {
  color: #e2e2e2;
  text-transform: uppercase;
}

footer .elements .element-item p {
  color: #b8b8b8
}

footer .elements .element-item p a {
  color: #b8b8b8;
  cursor: pointer;
  text-decoration: none;
}

footer .footer-figures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .footer-figures .figure-item {
  display: flex;
  flex-direction: row;
}

footer .footer-figures .figure-item:first-child {
  margin-bottom: 45px;
}

footer .footer-figures .figure-item {
  margin-right: 100px;
  cursor: pointer;
}

footer .footer-figures .figure-item:hover {
  color: #179bff;
}

footer .footer-figures .figure-item:hover .figure-item-btn {
  background-color: #179bff;
  color: #fff;
}

footer .footer-figures .figure-item .figure-item-content {
  margin-left: 40px;
}

footer .footer-figures .figure-item .figure-item-content h3 {
  margin-bottom: 15px;
  color: #e2e2e2;
}

footer .footer-figures .figure-item:hover .figure-item-content h3 {
  color: #179bff;
}

footer .footer-figures .figure-item .figure-item-content p {
  color: #b8b8b8;
}

footer .footer-figures .figure-item .figure-item-btn {
  line-height: 100%;
  height: 45px;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #413c3c;
  width: 45px;
  margin-top: 10px;
}
